/target
config.toml
error.txt
public/pkg/alchemist.css
build_log_2.txt
alchemist.db
web/node_modules
docs/node_modules
web/dist
web/.astro
docs/dist
docs/.astro
web/package-lock.json
web.zip
.DS_Store
alchemist.db-shm
alchemist.db-wal
