---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import HeaderActions from "../components/HeaderActions.tsx";
import {ConversionTool} from "../components/ConversionTool.tsx";
---

<Layout title="Alchemist | Convert">
    <div class="app-shell">
        <Sidebar />
        <main class="app-main overflow-y-auto">
            <div class="flex items-center justify-end px-6 py-3 border-b border-helios-line/20">
                <HeaderActions client:load />
            </div>
            <div class="p-6">
                <ConversionTool client:load />
            </div>
        </main>
    </div>
</Layout>
