class Alchemist < Formula
  desc "Self-hosted media transcoding pipeline with a web UI"
  homepage "https://github.com/bybrooklyn/alchemist"
  license "GPL-3.0"
  version "{{VERSION}}"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/bybrooklyn/alchemist/releases/download/v{{VERSION}}/alchemist-macos-arm64.tar.gz"
      sha256 "{{MACOS_ARM64_SHA256}}"
    else
      url "https://github.com/bybrooklyn/alchemist/releases/download/v{{VERSION}}/alchemist-macos-x86_64.tar.gz"
      sha256 "{{MACOS_X86_64_SHA256}}"
    end
  end

  on_linux do
    url "https://github.com/bybrooklyn/alchemist/releases/download/v{{VERSION}}/alchemist-linux-x86_64.tar.gz"
    sha256 "{{LINUX_X86_64_SHA256}}"
  end

  def install
    bin.install "alchemist"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/alchemist --version")
  end
end
